pilosa_cluster_size=3
#pilosa_instance_type="r4.2xlarge"
pilosa_instance_type="c5.xlarge"

#agent_instance_type="r4.2xlarge"
agent_instance_type="c5.large"

ssh_public_key="~/.ssh/id_rsa.pub"

security_group_id="sg-03b25504c9795889e"
subnet_id="subnet-015f4090072abfb4d"
placement_group_id="opc-dexin-pg"

prefix_name = "dexin"
